#title { 
    display: inline-block;
    color: #2b7da1;
    background-color: white;
    padding: 30px 5px 5px 5px;
    font-size: 1.5em;
    font-weight: 500;
    text-align: center;
}
.textDiv {
    display: inline-block;
    color: #2b7da1;
    background-color: #b2d0dd;
    font-size: 1em;
    width: 1400px;
}
.text {
    display: inline-block;
    font-size: 1em;
    padding: 30px 5px 5px 5px;
    
}
.lable {
    background-color: white; 
    padding: 30px 0px 0px 0px;
}
.space {
    color:#b2d0dd; 
    background-color: #b2d0dd; 
    padding-top: 30px;
}
.input {
    display: inline-block;
    background-color: white;
    width: 100px;
    color:#2b7da1; 
    display: 
    inline-block; 
    border: none; 
    padding: 32px 80px 0px 0px;
}
input:hover {
    color: black;
}