h1{
    text-align: center;
    width: 100%;
    font-size: 500%;
}

.search{
    text-align: center;
    width: 100%;
}

.link{
    text-align: center;
    font-size: 150%;
}

#bild{
    width: 300px;
    height: 400px;
    left: 0;
    top: 25;
    position: absolute;
}

#bild1{
    width: 300px;
    height: 400px;
    right: 0;
    top: 25;
    position: absolute;
}

